.display{
   max-width: 400px;
    width:100%;
    height:fit-content;
    margin:50px auto;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.335);
}

.display img{
    width:100%;
    height: 200px;
    transition: 1s;
}

.display img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

